USE [master]
GO
/****** Object:  Database [SchoolDB]    Script Date: 10/26/2025 4:03:24 PM ******/
CREATE DATABASE [SchoolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSubjects]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSubjects](
	[ClassSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SectionId] [int] NOT NULL,
	[EnrolledOn] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[MarksObtained] [decimal](5, 2) NOT NULL,
	[Grade] [nvarchar](5) NULL,
	[Remarks] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[AcademicYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeItems]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeItems](
	[FeeItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Frequency] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[FeeItemId] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[BillingMonth] [int] NULL,
	[BillingYear] [int] NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[AmountPaid] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SectionName] [nvarchar](20) NOT NULL,
	[Capacity] [int] NULL,
	[HomeroomTeacherId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AdmissionNo] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[GuardianName] [nvarchar](100) NULL,
	[GuardianPhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[CreditHours] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TeacherSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [date] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C256267EA] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassId], [ClassName], [Level]) VALUES (1, N'Grade 1', 1)
INSERT [dbo].[Classes] ([ClassId], [ClassName], [Level]) VALUES (2, N'Grade 2', 2)
INSERT [dbo].[Classes] ([ClassId], [ClassName], [Level]) VALUES (3, N'Grade 3', 3)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassSubjects] ON 

INSERT [dbo].[ClassSubjects] ([ClassSubjectId], [ClassId], [SubjectId], [IsActive]) VALUES (1, 1, 8, 1)
INSERT [dbo].[ClassSubjects] ([ClassSubjectId], [ClassId], [SubjectId], [IsActive]) VALUES (2, 2, 8, 1)
INSERT [dbo].[ClassSubjects] ([ClassSubjectId], [ClassId], [SubjectId], [IsActive]) VALUES (3, 3, 8, 1)
SET IDENTITY_INSERT [dbo].[ClassSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [SectionId], [EnrolledOn], [Status], [IsActive]) VALUES (3, 1, 11, CAST(N'2025-01-10' AS Date), N'Active', 1)
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [SectionId], [EnrolledOn], [Status], [IsActive]) VALUES (4, 2, 11, CAST(N'2024-12-16' AS Date), N'Left', 1)
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [SectionId], [EnrolledOn], [Status], [IsActive]) VALUES (5, 3, 11, CAST(N'2025-09-01' AS Date), N'Active', 1)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamResults] ON 

INSERT [dbo].[ExamResults] ([ResultId], [ExamId], [EnrollmentId], [SubjectId], [MarksObtained], [Grade], [Remarks], [IsActive]) VALUES (1, 1, 3, 3, CAST(1.01 AS Decimal(5, 2)), N'F', N'Remark for Student 3', 1)
INSERT [dbo].[ExamResults] ([ResultId], [ExamId], [EnrollmentId], [SubjectId], [MarksObtained], [Grade], [Remarks], [IsActive]) VALUES (2, 1, 3, 6, CAST(64.21 AS Decimal(5, 2)), N'B', N'Remark for Student 3', 1)
INSERT [dbo].[ExamResults] ([ResultId], [ExamId], [EnrollmentId], [SubjectId], [MarksObtained], [Grade], [Remarks], [IsActive]) VALUES (3, 1, 3, 7, CAST(21.62 AS Decimal(5, 2)), N'F', N'Remark for Student 3', 1)
SET IDENTITY_INSERT [dbo].[ExamResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamId], [Name], [StartDate], [EndDate], [Type], [IsActive], [AcademicYear]) VALUES (1, N'Midterm 2025', CAST(N'2025-08-27' AS Date), CAST(N'2025-08-29' AS Date), N'Midterm', 1, 2025)
INSERT [dbo].[Exams] ([ExamId], [Name], [StartDate], [EndDate], [Type], [IsActive], [AcademicYear]) VALUES (2, N'Term 2025', CAST(N'2025-09-26' AS Date), CAST(N'2025-09-28' AS Date), N'Term', 1, 2025)
INSERT [dbo].[Exams] ([ExamId], [Name], [StartDate], [EndDate], [Type], [IsActive], [AcademicYear]) VALUES (3, N'Final 2025', CAST(N'2025-11-25' AS Date), CAST(N'2025-11-27' AS Date), N'Final', 1, 2025)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[FeeItems] ON 

INSERT [dbo].[FeeItems] ([FeeItemId], [Name], [Amount], [Frequency], [IsActive]) VALUES (1, N'Tuition', CAST(1500.00 AS Decimal(10, 2)), N'Monthly', 1)
INSERT [dbo].[FeeItems] ([FeeItemId], [Name], [Amount], [Frequency], [IsActive]) VALUES (2, N'Library Fee', CAST(50.00 AS Decimal(10, 2)), N'OneTime', 1)
INSERT [dbo].[FeeItems] ([FeeItemId], [Name], [Amount], [Frequency], [IsActive]) VALUES (3, N'Exam Fee', CAST(100.00 AS Decimal(10, 2)), N'OneTime', 1)
SET IDENTITY_INSERT [dbo].[FeeItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceId], [EnrollmentId], [FeeItemId], [DueDate], [Amount], [Status], [IsActive], [BillingMonth], [BillingYear], [InvoiceNumber]) VALUES (1, 3, 2, CAST(N'2025-10-26' AS Date), CAST(50.00 AS Decimal(10, 2)), N'Pending', 1, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([InvoiceId], [EnrollmentId], [FeeItemId], [DueDate], [Amount], [Status], [IsActive], [BillingMonth], [BillingYear], [InvoiceNumber]) VALUES (2, 4, 2, CAST(N'2025-11-07' AS Date), CAST(50.00 AS Decimal(10, 2)), N'Overdue', 1, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([InvoiceId], [EnrollmentId], [FeeItemId], [DueDate], [Amount], [Status], [IsActive], [BillingMonth], [BillingYear], [InvoiceNumber]) VALUES (3, 5, 2, CAST(N'2025-12-06' AS Date), CAST(50.00 AS Decimal(10, 2)), N'PartiallyPaid', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes], [IsActive]) VALUES (1, 1, CAST(N'2025-10-13T15:30:56.960' AS DateTime), CAST(44.00 AS Decimal(10, 2)), N'Cash', N'Payment note #524', 1)
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes], [IsActive]) VALUES (2, 2, CAST(N'2025-10-08T15:30:56.960' AS DateTime), CAST(47.50 AS Decimal(10, 2)), N'Card', N'Payment note #663', 1)
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes], [IsActive]) VALUES (3, 3, CAST(N'2025-10-19T15:30:56.960' AS DateTime), CAST(34.00 AS Decimal(10, 2)), N'BankTransfer', N'Payment note #374', 1)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([SectionId], [ClassId], [SectionName], [Capacity], [HomeroomTeacherId], [IsActive]) VALUES (1, 1, N'Sec-1-1', 27, 5, 1)
INSERT [dbo].[Sections] ([SectionId], [ClassId], [SectionName], [Capacity], [HomeroomTeacherId], [IsActive]) VALUES (2, 1, N'Sec-1-2', 28, 14, 1)
INSERT [dbo].[Sections] ([SectionId], [ClassId], [SectionName], [Capacity], [HomeroomTeacherId], [IsActive]) VALUES (3, 1, N'Sec-1-3', 29, 2, 1)
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [UserId], [AdmissionNo], [DateOfBirth], [Gender], [GuardianName], [GuardianPhone]) VALUES (1, 1, N'ADM00001', CAST(N'2009-10-29' AS Date), N'Female', N'Parent of User 001', N'+1-555-1001')
INSERT [dbo].[Students] ([StudentId], [UserId], [AdmissionNo], [DateOfBirth], [Gender], [GuardianName], [GuardianPhone]) VALUES (2, 2, N'ADM00002', CAST(N'2008-10-28' AS Date), N'Male', N'Parent of User 002', N'+1-555-1002')
INSERT [dbo].[Students] ([StudentId], [UserId], [AdmissionNo], [DateOfBirth], [Gender], [GuardianName], [GuardianPhone]) VALUES (3, 3, N'ADM00003', CAST(N'2007-10-28' AS Date), N'Female', N'Parent of User 003', N'+1-555-1003')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [Name], [Code], [CreditHours], [IsActive]) VALUES (1, N'Subject 1', N'SUB001', 3, 1)
INSERT [dbo].[Subjects] ([SubjectId], [Name], [Code], [CreditHours], [IsActive]) VALUES (2, N'Subject 2', N'SUB002', 3, 1)
INSERT [dbo].[Subjects] ([SubjectId], [Name], [Code], [CreditHours], [IsActive]) VALUES (3, N'Subject 3', N'SUB003', 3, 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [UserId], [HireDate], [Specialization]) VALUES (1, 141, CAST(N'2025-06-07' AS Date), N'Spec 2')
INSERT [dbo].[Teachers] ([TeacherId], [UserId], [HireDate], [Specialization]) VALUES (2, 142, CAST(N'2025-06-06' AS Date), N'Spec 3')
INSERT [dbo].[Teachers] ([TeacherId], [UserId], [HireDate], [Specialization]) VALUES (3, 143, CAST(N'2025-06-05' AS Date), N'Spec 4')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherSubjects] ON 

INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (31, 1, 1)
INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (91, 1, 3)
INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (61, 1, 9)
GO
SET IDENTITY_INSERT [dbo].[TeacherSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (1, N'User 0001', N'user1@example.com', 0x4CDB1FD6C9C1792C641CC4253CC8F5D6854BAA0B3FE9E65814B76EEAA0F9A157, N'Student', 1, CAST(N'2025-10-26' AS Date))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (2, N'User 0002', N'user2@example.com', 0x07B9A1D570BDCD89703FF3F82FCC6118768ECAC649CA791C30FAFC8D94F6004D, N'Student', 1, CAST(N'2025-10-26' AS Date))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (3, N'User 0003', N'user3@example.com', 0x7F595BEAE6334DA7D9F2EA4035CFB5DFEF01D50B95E338E0E2D974A80A2F68B6, N'Student', 1, CAST(N'2025-10-26' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_ClassSubjects_Class_Subject]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[ClassSubjects] ADD  CONSTRAINT [UQ_ClassSubjects_Class_Subject] UNIQUE NONCLUSTERED 
(
	[ClassId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollment]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [UQ_Enrollment] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ExamResults]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[ExamResults] ADD  CONSTRAINT [UQ_ExamResults] UNIQUE NONCLUSTERED 
(
	[ExamId] ASC,
	[EnrollmentId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Invoice_StudentMonthYear]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [UQ_Invoice_StudentMonthYear] UNIQUE NONCLUSTERED 
(
	[EnrollmentId] ASC,
	[FeeItemId] ASC,
	[BillingMonth] ASC,
	[BillingYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Section]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Sections] ADD  CONSTRAINT [UQ_Section] UNIQUE NONCLUSTERED 
(
	[ClassId] ASC,
	[HomeroomTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__C97E2711302BD3FE]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[AdmissionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__A25C5AA7D65F1622]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TeacherSubjects]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[TeacherSubjects] ADD  CONSTRAINT [UQ_TeacherSubjects] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105346668BCFC]    Script Date: 10/26/2025 4:03:24 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D105346668BCFC] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassSubjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrolledOn]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExamResults] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (datepart(year,getdate())) FOR [AcademicYear]
GO
ALTER TABLE [dbo].[FeeItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [DueDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((30)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [CreditHours]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_Specialization]  DEFAULT (getdate()) FOR [Specialization]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__4D94879B]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__4E88ABD4]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([Status]='Left' OR [Status]='Transferred' OR [Status]='Graduated' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD CHECK  (([Grade]='F' OR [Grade]='D' OR [Grade]='C' OR [Grade]='C+' OR [Grade]='B' OR [Grade]='B+' OR [Grade]='A' OR [Grade]='A+'))
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD CHECK  (([Type]='Quiz' OR [Type]='Term' OR [Type]='Final' OR [Type]='Midterm'))
GO
ALTER TABLE [dbo].[FeeItems]  WITH CHECK ADD CHECK  (([Frequency]='Yearly' OR [Frequency]='Monthly' OR [Frequency]='OneTime'))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Paid' OR [Status]='PartiallyPaid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Role__4CA06362] CHECK  (([Role]='Parent' OR [Role]='Student' OR [Role]='Teacher' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Role__4CA06362]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateClassSubject]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateClassSubject]
    @ClassId INT,
    @SubjectId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Classes WHERE ClassId = @ClassId)
    BEGIN
        SELECT -3 AS Result; RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectId = @SubjectId)
    BEGIN
        SELECT -4 AS Result; RETURN;
    END

    IF EXISTS (SELECT 1 FROM ClassSubjects WHERE ClassId = @ClassId AND SubjectId = @SubjectId )
    BEGIN
        SELECT -2 AS Result; RETURN;
    END

    INSERT INTO ClassSubjects (ClassId, SubjectId, IsActive)
    VALUES (@ClassId, @SubjectId, 1);

    SELECT SCOPE_IDENTITY() AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateEnrollment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateEnrollment]
    @StudentId INT,
    @SectionId INT
AS
BEGIN

        IF NOT EXISTS (SELECT 1 FROM Students WHERE StudentId = @StudentId)
        BEGIN
            SELECT -2 AS Result; 
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Sections WHERE SectionId = @SectionId AND IsActive = 1)
        BEGIN
            SELECT -3 AS Result; 
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Enrollments WHERE StudentId = @StudentId AND SectionId = @SectionId AND IsActive = 1)
        BEGIN
            SELECT -4 AS Result; 
            RETURN;
        END

        DECLARE @CurrentCount INT, @Capacity INT;
        SELECT @CurrentCount = COUNT(*) FROM Enrollments WHERE SectionId = @SectionId AND IsActive = 1;
        SELECT @Capacity = Capacity FROM Sections WHERE SectionId = @SectionId;

        IF @CurrentCount >= @Capacity
        BEGIN
            SELECT -5 AS Result; 
            RETURN;
        END

        INSERT INTO Enrollments (StudentId, SectionId, EnrolledOn, IsActive)
        VALUES (@StudentId, @SectionId, GETDATE(), 1);

        SELECT SCOPE_IDENTITY() AS Result; 
 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExam]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateExam]
    @Name NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE,
    @Type NVARCHAR(20),
	@AcademicYear int
AS
BEGIN
    IF EXISTS(SELECT 1 FROM Exams WHERE Name=@Name AND Type=@Type AND AcademicYear=@AcademicYear and IsActive=1 )
    BEGIN
        SELECT -2 AS Result;
        RETURN;
    END

    IF @StartDate > @EndDate
    BEGIN
        SELECT -3 AS Result;
        RETURN;
    END

        INSERT INTO Exams (Name, StartDate, EndDate, Type, IsActive)
        VALUES (@Name, @StartDate, @EndDate, @Type, 1);
        SELECT SCOPE_IDENTITY() AS Result;
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExamResult]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateExamResult]
    @ExamId INT,
    @EnrollmentId INT,
    @SubjectId INT,
    @MarksObtained DECIMAL(5,2),
    @Remarks NVARCHAR(255) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Exams WHERE ExamId = @ExamId AND IsActive = 1)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Enrollments WHERE EnrollmentId = @EnrollmentId AND IsActive = 1)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectId = @SubjectId AND IsActive = 1)
    BEGIN
        SELECT -4 AS Result;
        RETURN;
    END

    IF @MarksObtained < 0 OR @MarksObtained > 100
    BEGIN
        SELECT -5 AS Result;
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM ExamResults 
               WHERE ExamId = @ExamId AND EnrollmentId = @EnrollmentId AND SubjectId = @SubjectId AND IsActive = 1)
    BEGIN
        SELECT -6 AS Result; 
        RETURN;
    END

    DECLARE @Grade NVARCHAR(5);

    SET @Grade = CASE 
                    WHEN @MarksObtained >= 90 THEN 'A+'
                    WHEN @MarksObtained >= 80 THEN 'A'
                    WHEN @MarksObtained >= 70 THEN 'B'
                    WHEN @MarksObtained >= 60 THEN 'C'
                    WHEN @MarksObtained >= 50 THEN 'D'
                    ELSE 'F'
                 END;

    INSERT INTO ExamResults (ExamId, EnrollmentId, SubjectId, MarksObtained, Grade, Remarks, IsActive)
    VALUES (@ExamId, @EnrollmentId, @SubjectId, @MarksObtained, @Grade, @Remarks, 1);

    SELECT 1 AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateFeeItem]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateFeeItem]
    @Name NVARCHAR(100),
    @Amount DECIMAL(10,2),
    @Frequency NVARCHAR(20)
AS
BEGIN

   

   
    IF EXISTS (SELECT 1 FROM FeeItems WHERE Name = @Name AND IsActive = 1)
        RETURN -2;

    IF EXISTS (SELECT 1 FROM FeeItems WHERE Name = @Name AND IsActive = 0)
    BEGIN
        UPDATE FeeItems
        SET Amount = @Amount,
            Frequency = @Frequency,
            IsActive = 1
        WHERE Name = @Name;

        RETURN -4 ; 
    END

    INSERT INTO FeeItems (Name, Amount, Frequency, IsActive)
    VALUES (@Name, @Amount, @Frequency, 1);

    SELECT SCOPE_IDENTITY()as RESULT; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateInvoice]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateInvoice]
    @EnrollmentId INT,
    @FeeItemId INT,
    @DueDate DATE,
    @BillingMonth INT,
    @BillingYear INT
AS
BEGIN

        IF NOT EXISTS (SELECT 1 FROM Enrollments WHERE EnrollmentId = @EnrollmentId)
        BEGIN
            RETURN -3; 
        END

        IF NOT EXISTS (SELECT 1 FROM FeeItems WHERE FeeItemId = @FeeItemId AND IsActive = 1)
        BEGIN
            RETURN -3; 
        END

        IF EXISTS (
            SELECT 1 FROM Invoices
            WHERE EnrollmentId = @EnrollmentId 
              AND FeeItemId = @FeeItemId
              AND BillingMonth = @BillingMonth
              AND BillingYear = @BillingYear
              AND IsActive = 1
        )
        BEGIN
            RETURN -2; 
        END

        DECLARE @Amount DECIMAL(10,2);
        SELECT @Amount = Amount FROM FeeItems WHERE FeeItemId = @FeeItemId;

        INSERT INTO Invoices (EnrollmentId, FeeItemId, DueDate, Amount, Status, IsActive, BillingMonth, BillingYear)
        VALUES (@EnrollmentId, @FeeItemId, @DueDate, @Amount, 'Pending', 1, @BillingMonth, @BillingYear);

        DECLARE @InvoiceId INT = SCOPE_IDENTITY();
        DECLARE @InvoiceNumber NVARCHAR(50) = CONCAT('INV-', @BillingYear, '-', RIGHT('00000' + CAST(@InvoiceId AS NVARCHAR(10)), 5));

        UPDATE Invoices SET InvoiceNumber = @InvoiceNumber WHERE InvoiceId = @InvoiceId;

        RETURN @InvoiceId;
 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreatePayment]
    @InvoiceId INT,
    @PaymentDate DATETIME,
    @AmountPaid DECIMAL(10,2),
    @PaymentMethod NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN


        DECLARE @InvoiceAmount DECIMAL(10,2);
        DECLARE @CurrentStatus NVARCHAR(20);
        SELECT @InvoiceAmount = Amount, @CurrentStatus = Status
        FROM Invoices
        WHERE InvoiceId = @InvoiceId AND IsActive = 1;

        IF @InvoiceAmount IS NULL
            RETURN -2;

        IF @CurrentStatus = 'Paid'
            RETURN -3; 

        DECLARE @TotalPaid DECIMAL(10,2) = ISNULL(
            (SELECT SUM(AmountPaid) FROM Payments WHERE InvoiceId = @InvoiceId AND IsActive = 1), 0
        );

        IF (@TotalPaid + @AmountPaid > @InvoiceAmount)
            RETURN -4; 

        INSERT INTO Payments (InvoiceId, PaymentDate, AmountPaid, PaymentMethod, Notes, IsActive)
        VALUES (@InvoiceId, @PaymentDate, @AmountPaid, @PaymentMethod, @Notes, 1);

        DECLARE @NewTotalPaid DECIMAL(10,2) = @TotalPaid + @AmountPaid;
        DECLARE @NewStatus NVARCHAR(20) = CASE
            WHEN @NewTotalPaid = @InvoiceAmount THEN 'Paid'
            ELSE 'PartiallyPaid'
        END;

        UPDATE Invoices
        SET Status = @NewStatus
        WHERE InvoiceId = @InvoiceId;

        RETURN 1; 
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSection]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateSection]
    @ClassId INT,
    @SectionName NVARCHAR(20),
	@Capacity INT,
    @HomeroomTeacherId INT
    
AS
BEGIN
    IF NOT EXISTS(SELECT 1 FROM Classes WHERE ClassId = @ClassId)
    BEGIN
        SELECT -2 AS Result;
        RETURN;
    END

    IF NOT EXISTS(SELECT 1 FROM Teachers WHERE TeacherId = @HomeroomTeacherId)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    IF EXISTS(SELECT 1 FROM Sections WHERE ClassId = @ClassId AND SectionName = @SectionName)
    BEGIN
        SELECT -4 AS Result; 
        RETURN;
    END

    INSERT INTO Sections (ClassId, SectionName, HomeroomTeacherId, Capacity, IsActive)
    VALUES (@ClassId, @SectionName, @HomeroomTeacherId, @Capacity, 1);

    SELECT SCOPE_IDENTITY() AS SectionId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateStudent]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateStudent]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Password NVARCHAR(100),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @GuardianName NVARCHAR(100),
    @GuardianPhone NVARCHAR(20)
    
AS

BEGIN    
if exists(select 1 from Users
where Users.Email=@Email)
begin
select -2 as result
return
end


     BEGIN TRANSACTION
	  BEGIN TRY
    
	DECLARE @UserId INT, @StudentId INT;

        INSERT INTO Users (FullName, Email, PasswordHash, Role, IsActive, CreatedAt)
        VALUES (@FullName, @Email, HASHBYTES('SHA2_256', @Password), 'Student', 1, GETUTCDATE());

        SET @UserId = SCOPE_IDENTITY();

        DECLARE @AdmissionNo NVARCHAR(50);
        SET @AdmissionNo = 'ADM' + RIGHT('00000' + CAST(@UserId AS NVARCHAR), 5);

        INSERT INTO Students (UserId, AdmissionNo, DateOfBirth, Gender, GuardianName, GuardianPhone)
        VALUES (@UserId, @AdmissionNo, @DateOfBirth, @Gender, @GuardianName, @GuardianPhone);

        SET @StudentId = SCOPE_IDENTITY();    

        COMMIT TRANSACTION;

        SELECT @StudentId AS StudentId;
    END TRY
    BEGIN CATCH        
            ROLLBACK TRANSACTION;	
			select -1 as result
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSubject]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateSubject]
    @SubjectName NVARCHAR(100),
    @SubjectCode NVARCHAR(50),
    @CreditHours INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Subjects WHERE Code = @SubjectCode AND Name = @SubjectName)
    BEGIN
        SELECT -2 AS Result;
        RETURN;
    END
        INSERT INTO Subjects (Name, Code, CreditHours, IsActive)
        VALUES (@SubjectName, @SubjectCode, @CreditHours, 1);

        SELECT SCOPE_IDENTITY() AS Result; 
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTeacher]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_CreateTeacher]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Specialization NVARCHAR(100),
   @Password NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM users WHERE Email = @Email)
    BEGIN
        SELECT -2 AS result; 
        RETURN;
    END

	BEGIN TRANSACTION
	  BEGIN TRY
    
	DECLARE @UserId INT, @TeacherId INT;

        INSERT INTO Users (FullName, Email, PasswordHash, Role, IsActive, CreatedAt)
        VALUES (@FullName, @Email, HASHBYTES('SHA2_256', @Password), 'Teacher', 1, GETUTCDATE());

        SET @UserId = SCOPE_IDENTITY();


        

        INSERT INTO Teachers(UserId,HireDate,Specialization)
        VALUES (@UserId, GETDATE(), @Specialization);

		SET @TeacherId = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

		        SELECT @TeacherId AS TeacherId;


    END TRY
    BEGIN CATCH        
            ROLLBACK TRANSACTION;	
			select -1 as result
    END CATCH


	end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClassSubject]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteClassSubject]
    @ClassSubjectId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ClassSubjects WHERE ClassSubjectId = @ClassSubjectId)
    BEGIN
        SELECT -2 AS Result; RETURN;
    END

    UPDATE ClassSubjects
    SET IsActive = 0
    WHERE ClassSubjectId = @ClassSubjectId;

    SELECT 1 AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEnrollment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteEnrollment]
    @EnrollmentId INT
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Enrollments WHERE EnrollmentId = @EnrollmentId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Enrollments WHERE EnrollmentId = @EnrollmentId AND IsActive = 0)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    UPDATE Enrollments
    SET IsActive = 0
    WHERE EnrollmentId = @EnrollmentId;

    SELECT 1 AS Result; 
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteExam]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteExam]
    @ExamId INT
AS
BEGIN
    IF NOT EXISTS(SELECT 1 FROM Exams WHERE ExamId=@ExamId )
    BEGIN
        SELECT -2 AS Result;
        RETURN;
    END

    IF EXISTS(SELECT 1 FROM ExamResults WHERE ExamId=@ExamId)
    BEGIN
        SELECT -3 AS Result;
        RETURN;
    END

        UPDATE Exams
        SET IsActive=0
        WHERE ExamId=@ExamId;
        SELECT 1 AS Result;
   
END







GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteExamResult]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteExamResult]
    @ResultId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ExamResults WHERE ResultId = @ResultId)
    BEGIN
        SELECT -1 AS Result; 
        RETURN;
    END


    UPDATE ExamResults SET IsActive = 0 WHERE ResultId = @ResultId;
    SELECT 1 AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFeeItem]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteFeeItem]
    @FeeItemId INT
AS
BEGIN
    
    IF NOT EXISTS (SELECT 1 FROM FeeItems WHERE FeeItemId = @FeeItemId)
        RETURN -1;

    IF EXISTS (SELECT 1 FROM Invoices WHERE FeeItemId = @FeeItemId)
        RETURN -2;

    UPDATE FeeItems
    SET IsActive = 0
    WHERE FeeItemId = @FeeItemId;

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteInvoice]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteInvoice]
    @InvoiceId INT
AS
BEGIN

        IF NOT EXISTS (SELECT 1 FROM Invoices WHERE InvoiceId = @InvoiceId AND IsActive = 1)
        BEGIN
            RETURN -2; 
        END

        IF EXISTS (SELECT 1 FROM Payments WHERE InvoiceId = @InvoiceId AND IsActive = 1)
        BEGIN
            RETURN -3; 
        END

       
        UPDATE Invoices
        SET IsActive = 0
        WHERE InvoiceId = @InvoiceId;

        RETURN 1; 
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePayment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeletePayment]
    @PaymentId INT
AS
BEGIN
    
        DECLARE @InvoiceId INT;
        SELECT @InvoiceId = InvoiceId FROM Payments WHERE PaymentId = @PaymentId AND IsActive = 1;

        IF @InvoiceId IS NULL
            RETURN -2; 

        UPDATE Payments
        SET IsActive = 0
        WHERE PaymentId = @PaymentId;

        DECLARE @InvoiceAmount DECIMAL(10,2) = (SELECT Amount FROM Invoices WHERE InvoiceId = @InvoiceId);
        DECLARE @TotalPaid DECIMAL(10,2) = ISNULL(
            (SELECT SUM(AmountPaid) FROM Payments WHERE InvoiceId = @InvoiceId AND IsActive = 1), 0
        );

        DECLARE @NewStatus NVARCHAR(20) = CASE
            WHEN @TotalPaid = 0 THEN 'Pending'
            WHEN @TotalPaid < @InvoiceAmount THEN 'PartiallyPaid'
            ELSE 'Paid'
        END;

        UPDATE Invoices
        SET Status = @NewStatus
        WHERE InvoiceId = @InvoiceId;

        RETURN 1;
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSection]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSection]
    @SectionId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Sections WHERE SectionId = @SectionId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF EXISTS (
        SELECT 1 
        FROM Enrollments 
        WHERE SectionId = @SectionId
    )
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

        UPDATE Sections
        SET IsActive = 0
        WHERE SectionId = @SectionId;

        SELECT 1 AS Result; 
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStudent]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_DeleteStudent]
    @StudentId INT
AS
BEGIN
 IF NOT EXISTS (SELECT 1 FROM Students WHERE StudentId = @StudentId)
        BEGIN
            SELECT -2 AS Result 
            RETURN
        END

    BEGIN TRANSACTION
    BEGIN TRY
       
        UPDATE Users
        SET IsActive = 0
        WHERE UserId = (SELECT UserId FROM Students WHERE StudentId = @StudentId);

        UPDATE Enrollments
        SET Status = 'Left'
        WHERE StudentId = @StudentId;

        COMMIT TRANSACTION;

        SELECT 1 AS Result
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT -1 AS Result 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSubject]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSubject]
    @SubjectId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectId = @SubjectId)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM ClassSubjects WHERE SubjectId = @SubjectId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

        UPDATE Subjects
        SET IsActive = 0
        WHERE SubjectId = @SubjectId;

        SELECT 1 AS Result; 
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTeacher]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_DeleteTeacher]
    @TeacherId INT
AS
BEGIN
 IF NOT EXISTS (SELECT 1 FROM Teachers WHERE TeacherId = @TeacherId)
        BEGIN
            SELECT -2 AS Result 
            RETURN
        END
       
        UPDATE Users
        SET IsActive = 0
        WHERE UserId = (SELECT UserId FROM Teachers WHERE TeacherId = @TeacherId);
		SELECT 1 AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveExams]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveExams]
AS
BEGIN
    SELECT 
        ExamId,
        Name,
        StartDate,
        EndDate,
        Type,
		Exams.AcademicYear,
        CASE IsActive WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Exams
    WHERE IsActive = 1
    ORDER BY StartDate, Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveFeeItems]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveFeeItems]
AS
BEGIN
    SELECT FeeItemId, Name, Amount, Frequency,
		 'Active'  AS Status
    FROM FeeItems
    WHERE IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveInvoices]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveInvoices]
AS
BEGIN
    SELECT 
        i.InvoiceId,
        i.InvoiceNumber,
        s.StudentId,
        u.FullName AS StudentName,
        fi.Name AS FeeItemName,
        i.Amount,
        i.DueDate,
        i.Status,
        i.BillingMonth,
        i.BillingYear
    FROM Invoices i
    INNER JOIN Enrollments e ON i.EnrollmentId = e.EnrollmentId
    INNER JOIN Students s ON e.StudentId = s.StudentId
	    INNER JOIN Users u ON u.UserId = s.UserId
    INNER JOIN FeeItems fi ON i.FeeItemId = fi.FeeItemId
    WHERE i.IsActive = 1
    ORDER BY i.InvoiceId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveSections]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllActiveSections]
    AS
BEGIN
    SELECT 
        s.SectionId,
        s.SectionName,
        s.Capacity,
        c.ClassName,
        s.HomeroomTeacherId,
        u.FullName AS TeacherName,
		'Active' AS Status
    FROM Sections s
    JOIN Classes c ON c.ClassId = s.ClassId
    JOIN Users u ON u.UserId = s.HomeroomTeacherId
    WHERE s.IsActive = 1
    ORDER BY c.ClassName, s.SectionName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveStudents]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetAllActiveStudents]
as
begin
SELECT 
    s.StudentId,
    u.FullName,
    c.ClassName,
    sec.SectionName,
    e.Status,
    s.GuardianName,
    s.GuardianPhone
FROM Students s
JOIN Users u ON u.UserId = s.UserId
JOIN Enrollments e ON e.StudentId = s.StudentId
JOIN Sections sec ON sec.SectionId = e.SectionId
JOIN Classes c ON c.ClassId = sec.ClassId
WHERE e.Status = 'Active'
ORDER BY u.FullName;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveSubjects]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveSubjects]
AS
BEGIN
    SELECT 
        SubjectId,
        Name,
        Code,
        CreditHours,
        CASE IsActive WHEN  1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Subjects
    WHERE IsActive = 1
    ORDER BY Subjects.Name asc;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveTeachers]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveTeachers]
AS
BEGIN

    SELECT 
        Teachers.TeacherId,
        Users.FullName,
        Users.Email,
        Teachers.Specialization,
        Teachers.HireDate,
        'Active' AS Status
    FROM Teachers 
    INNER JOIN Users  ON Teachers.UserId = Users.UserId
	where Users.IsActive = 1
	ORDER BY Users.FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllClasses]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllClasses]
AS
BEGIN
    SELECT *FROM Classes
    ORDER BY Classes.Level;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEnrollments]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEnrollments]
AS
BEGIN

    SELECT 
        e.EnrollmentId,
        s.StudentId,
        u.FullName AS StudentName,
        sec.SectionId,
        sec.SectionName,
        c.ClassName,
        e.EnrolledOn,
        CASE e.IsActive WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Enrollments e
    INNER JOIN Students s ON e.StudentId = s.StudentId
	    INNER JOIN Users u ON s.UserId = u.UserId

    INNER JOIN Sections sec ON e.SectionId = sec.SectionId
    INNER JOIN Classes c ON sec.ClassId = c.ClassId
    WHERE e.IsActive = 1
    ORDER BY c.ClassName ASC, sec.SectionName ASC,  u.FullName ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExamResults]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllExamResults]
AS
BEGIN
    SELECT 
        ER.ResultId,
        E.Name AS ExamName,
        E.Type AS ExamType,
        S.Name,
        U.FullName AS StudentName,
        ER.MarksObtained,
        ER.Grade,
        ER.Remarks
    FROM ExamResults ER
    INNER JOIN Exams E ON ER.ExamId = E.ExamId
    INNER JOIN Enrollments EN ON ER.EnrollmentId = EN.EnrollmentId
    INNER JOIN Students ST ON EN.StudentId = ST.StudentId
	    INNER JOIN Users U ON U.UserId = ST.UserId

    INNER JOIN Subjects S ON ER.SubjectId = S.SubjectId
    WHERE ER.IsActive = 1
    ORDER BY E.Name, U.FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClassSubjectsByClass]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetClassSubjectsByClass]
    @ClassId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Classes WHERE ClassId = @ClassId)
    BEGIN
        SELECT -3 AS Result; RETURN;
    END

    SELECT 
        cs.ClassSubjectId,
        c.ClassName,
        s.SubjectId,
        s.Name AS SubjectName,
        s.Code,
        s.CreditHours
    FROM ClassSubjects cs
    JOIN Classes c ON cs.ClassId = c.ClassId
    JOIN Subjects s ON cs.SubjectId = s.SubjectId
    WHERE cs.ClassId = @ClassId AND cs.IsActive = 1
    ORDER BY s.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEnrollmentsByStudent]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEnrollmentsByStudent]
    @StudentId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Students WHERE StudentId = @StudentId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    SELECT 
        e.EnrollmentId,
        u.FullName AS StudentName,
        sec.SectionName,
        c.ClassName,
        e.EnrolledOn,
        CASE e.IsActive WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Enrollments e
    JOIN Students s ON s.StudentId = e.StudentId
    JOIN Users u ON u.UserId = s.UserId
    JOIN Sections sec ON sec.SectionId = e.SectionId
    JOIN Classes c ON c.ClassId = sec.ClassId
    WHERE e.StudentId = @StudentId
    ORDER BY c.ClassName, sec.SectionName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamResultsByExam]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExamResultsByExam]
    @ExamId INT
AS
BEGIN
    SELECT 
        ER.ResultId,
        E.ExamId,
        S.Name AS SubjectName,
        u.FullName AS StudentName,
        ER.MarksObtained,
        ER.Grade,
        ER.Remarks
    FROM ExamResults ER
    INNER JOIN Exams E ON ER.ExamId = E.ExamId
    INNER JOIN Enrollments EN ON ER.EnrollmentId = EN.EnrollmentId
    INNER JOIN Students ST ON EN.StudentId = ST.StudentId
	INNER JOIN Users u ON u.UserId = ST.UserId
    INNER JOIN Subjects S ON ER.SubjectId = S.SubjectId
    WHERE ER.ExamId = @ExamId AND ER.IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamResultsByStudent]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExamResultsByStudent]
    @StudentId INT
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Students
	inner join Enrollments on Enrollments.StudentId=Students.StudentId 
	WHERE Students.StudentId = @StudentId AND Enrollments.IsActive = 1)
    BEGIN
        SELECT -1 AS Result; 
        RETURN;
    END

    SELECT 
        ER.ResultId,
        E.Name AS ExamName,
        E.Type AS ExamType,
        S.Name AS SubjectName,
        ER.MarksObtained,
        ER.Grade,
        ER.Remarks,
        C.ClassName,
        Sec.SectionName
    FROM ExamResults ER
    INNER JOIN Exams E ON ER.ExamId = E.ExamId
    INNER JOIN Subjects S ON ER.SubjectId = S.SubjectId
    INNER JOIN Enrollments EN ON ER.EnrollmentId = EN.EnrollmentId
    INNER JOIN Sections Sec ON EN.SectionId = Sec.SectionId
    INNER JOIN Classes C ON Sec.ClassId = C.ClassId
    INNER JOIN Students ST ON EN.StudentId = ST.StudentId
    WHERE EN.StudentId = @StudentId 
      AND ER.IsActive = 1
      AND EN.IsActive = 1
    ORDER BY E.StartDate DESC, S.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFeeItemById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetFeeItemById]
    @FeeItemId INT
AS
BEGIN
    SELECT FeeItemId, Name, Amount, Frequency,
	CASE FeeItems.IsActive WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM FeeItems
    WHERE FeeItemId = @FeeItemId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInvoiceById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetInvoiceById]
    @InvoiceId INT
AS
BEGIN

    SELECT 
        i.InvoiceId,
        i.InvoiceNumber,
        s.StudentId,
       u.FullName AS StudentName,
        fi.Name AS FeeItemName,
        i.Amount,
        i.DueDate,
        i.Status,
        i.BillingMonth,
        i.BillingYear
    FROM Invoices i
    INNER JOIN Enrollments e ON i.EnrollmentId = e.EnrollmentId
    INNER JOIN Students s ON e.StudentId = s.StudentId
		    INNER JOIN Users u ON u.UserId = s.UserId

    INNER JOIN FeeItems fi ON i.FeeItemId = fi.FeeItemId
    WHERE i.InvoiceId = @InvoiceId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPaymentById]
    @PaymentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PaymentId, p.InvoiceId, p.PaymentDate, p.AmountPaid, p.PaymentMethod, p.Notes,
           i.Status AS InvoiceStatus, i.Amount AS InvoiceAmount,
           CASE WHEN p.IsActive = 1 THEN 'Active' ELSE 'Inactive' END AS PaymentStatus
    FROM Payments p
    INNER JOIN Invoices i ON p.InvoiceId = i.InvoiceId
    WHERE p.PaymentId = @PaymentId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsByInvoiceId]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetPaymentsByInvoiceId]
    @InvoiceId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PaymentId, p.InvoiceId, p.PaymentDate, p.AmountPaid, p.PaymentMethod, p.Notes,
           i.Status AS InvoiceStatus, i.Amount AS InvoiceAmount,
           CASE WHEN p.IsActive = 1 THEN 'Active' ELSE 'Inactive' END AS PaymentStatus
    FROM Payments p
    INNER JOIN Invoices i ON p.InvoiceId = i.InvoiceId
    WHERE p.InvoiceId = @InvoiceId
    ORDER BY p.PaymentDate ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsByStudentId]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetPaymentsByStudentId]
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PaymentId, p.InvoiceId, p.PaymentDate, p.AmountPaid, p.PaymentMethod, p.Notes,
           i.Status AS InvoiceStatus, i.Amount AS InvoiceAmount,
           CASE WHEN p.IsActive = 1 THEN 'Active' ELSE 'Inactive' END AS PaymentStatus
    FROM Payments p
    INNER JOIN Invoices i ON p.InvoiceId = i.InvoiceId
    INNER JOIN Enrollments e ON i.EnrollmentId = e.EnrollmentId
    WHERE e.StudentId = @StudentId
    ORDER BY p.PaymentDate ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSectionById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSectionById]
    @SectionId INT
AS
BEGIN  	
    SELECT 
        s.SectionId,
        s.SectionName,
        s.Capacity,
        s.IsActive AS Status,
        c.ClassName,
        s.HomeroomTeacherId,
        u.FullName AS TeacherName
    FROM Sections s
    JOIN Classes c ON c.ClassId = s.ClassId
    JOIN Users u ON u.UserId = s.HomeroomTeacherId
    WHERE s.SectionId = @SectionId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_GetStudentById]
@StudentId INT
as
begin
SELECT 
     s.StudentId,
    u.FullName,
    s.AdmissionNo,
    s.DateOfBirth,
    s.Gender,
    s.GuardianName,
    s.GuardianPhone,
    c.ClassName,
    sec.SectionName,
    e.Status 
FROM Students s
JOIN Users u ON u.UserId = s.UserId
JOIN Enrollments e ON e.StudentId = s.StudentId
JOIN Sections sec ON sec.SectionId = e.SectionId
JOIN Classes c ON c.ClassId = sec.ClassId
WHERE s.StudentId=@StudentId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsBySection]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetStudentsBySection]
    @SectionId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Sections WHERE SectionId = @SectionId)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    SELECT 
        e.EnrollmentId,
        st.StudentId,
        u.FullName,
        e.EnrolledOn,
        CASE e.IsActive WHEN 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Enrollments e
    JOIN Students st ON e.StudentId = st.StudentId
    JOIN Users u ON st.UserId = u.UserId
    WHERE e.SectionId = @SectionId
    ORDER BY u.FullName ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubjectById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetSubjectById]
@SubjectId INT
as
begin
 SELECT 
        SubjectId,
        Name,
        Code,
        CreditHours,
        CASE IsActive WHEN  1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Subjects
    WHERE Subjects.SubjectId = @SubjectId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTeacherById]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  procedure [dbo].[sp_GetTeacherById]
@TeacherId INT
as
begin
SELECT 
        t.TeacherId,
        u.FullName,
        u.Email,
		 t.HireDate,
        t.Specialization,
 CASE 
 WHEN u.IsActive = 1 THEN 'Active'
 ELSE 'Inactive'
 END
 AS Status
 FROM Teachers t
    INNER JOIN Users u ON t.UserId = u.UserId
    WHERE t.TeacherId = @TeacherId;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEnrollment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateEnrollment]
    @EnrollmentId INT,
    @NewSectionId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Enrollments WHERE EnrollmentId = @EnrollmentId AND IsActive = 1)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Sections WHERE SectionId = @NewSectionId AND IsActive = 1)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    DECLARE @OldSectionId INT;
    SELECT @OldSectionId = SectionId
    FROM Enrollments
    WHERE EnrollmentId = @EnrollmentId;

    IF @OldSectionId = @NewSectionId
    BEGIN
        SELECT -4 AS Result; 
        RETURN;
    END

    DECLARE @CurrentCount INT, @Capacity INT;
    SELECT @CurrentCount = COUNT(*)
    FROM Enrollments
    WHERE SectionId = @NewSectionId AND IsActive = 1;

    SELECT @Capacity = Capacity FROM Sections WHERE SectionId = @NewSectionId;

    IF @CurrentCount >= @Capacity
    BEGIN
        SELECT -5 AS Result; 
        RETURN;
    END

    UPDATE Enrollments
    SET SectionId = @NewSectionId
    WHERE EnrollmentId = @EnrollmentId;

    SELECT 1 AS Result; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExam]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateExam]
    @ExamId INT,
    @Name NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE,
    @Type NVARCHAR(20),
	@AcademicYear int

AS
BEGIN
    IF NOT EXISTS(SELECT 1 FROM Exams WHERE ExamId=@ExamId)
    BEGIN
        SELECT -2 AS Result;
        RETURN;
    END

    IF EXISTS(SELECT 1 FROM Exams WHERE Name=@Name AND Type=@Type AND ExamId<>@ExamId and AcademicYear=@AcademicYear  AND IsActive=1)
    BEGIN
        SELECT -3 AS Result;
        RETURN;
    END

    IF @StartDate > @EndDate
    BEGIN
        SELECT -4 AS Result;
        RETURN;
    END

   
        UPDATE Exams
        SET Name=@Name, StartDate=@StartDate, EndDate=@EndDate, Type=@Type,AcademicYear=@AcademicYear
        WHERE ExamId=@ExamId;
        SELECT 1 AS Result;
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExamResult]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateExamResult]
    @ResultId INT,
    @MarksObtained DECIMAL(5,2),
    @Remarks NVARCHAR(255) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM ExamResults WHERE ResultId = @ResultId AND IsActive = 1)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

    IF @MarksObtained < 0 OR @MarksObtained > 100
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    DECLARE @Grade NVARCHAR(5);
    SET @Grade = CASE 
                    WHEN @MarksObtained >= 90 THEN 'A+'
                    WHEN @MarksObtained >= 80 THEN 'A'
                    WHEN @MarksObtained >= 70 THEN 'B'
                    WHEN @MarksObtained >= 60 THEN 'C'
                    WHEN @MarksObtained >= 50 THEN 'D'
                    ELSE 'F'
                 END;

    UPDATE ExamResults
    SET MarksObtained = @MarksObtained,
        Grade = @Grade,
        Remarks = @Remarks
    WHERE ResultId = @ResultId;

    SELECT 1 AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFeeItem]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateFeeItem]
    @FeeItemId INT,
    @Name NVARCHAR(100),
    @Amount DECIMAL(10,2),
    @Frequency NVARCHAR(20),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM FeeItems WHERE FeeItemId = @FeeItemId)
        RETURN -1;

   

    IF EXISTS (SELECT 1 FROM FeeItems WHERE Name = @Name AND FeeItemId <> @FeeItemId AND IsActive = 1)
        RETURN -5;

    UPDATE FeeItems
    SET Name = @Name,
        Amount = @Amount,
        Frequency = @Frequency 
    WHERE FeeItemId = @FeeItemId;

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInvoice]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_UpdateInvoice]
    @InvoiceId INT,
    @DueDate DATE,
    @Amount DECIMAL(10,2),
    @Status NVARCHAR(20)
AS
BEGIN
        IF NOT EXISTS (SELECT 1 FROM Invoices WHERE InvoiceId = @InvoiceId)
        BEGIN
            RETURN -2; 
        END

        DECLARE @CurrentStatus NVARCHAR(20);
        SELECT @CurrentStatus = Status FROM Invoices WHERE InvoiceId = @InvoiceId;

        IF (@CurrentStatus = 'Paid')
        BEGIN
            RETURN -3; 
        END

		if(@Status='Paid')
		begin
		if((select sum(Payments.AmountPaid)from Payments where Payments.InvoiceId=@InvoiceId)<>(select Invoices.Amount from invoices 
		where InvoiceId=@InvoiceId))
		begin
		return -4;
		end
		end


        UPDATE Invoices
        SET 
            DueDate = @DueDate,
            Amount = @Amount,
            Status = @Status
        WHERE InvoiceId = @InvoiceId;

        RETURN 1; 
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePayment]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdatePayment]
    @PaymentId INT,
    @PaymentDate DATETIME,
    @AmountPaid DECIMAL(10,2),
    @PaymentMethod NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN

        DECLARE @InvoiceId INT;
        SELECT @InvoiceId = InvoiceId FROM Payments WHERE PaymentId = @PaymentId AND IsActive = 1;

        IF @InvoiceId IS NULL
            RETURN -2; 

        DECLARE @InvoiceAmount DECIMAL(10,2) = (SELECT Amount FROM Invoices WHERE InvoiceId = @InvoiceId);
        DECLARE @TotalPaidOther DECIMAL(10,2) = ISNULL(
            (SELECT SUM(AmountPaid) FROM Payments WHERE InvoiceId = @InvoiceId AND PaymentId <> @PaymentId AND IsActive = 1), 0
        );

        IF (@TotalPaidOther + @AmountPaid > @InvoiceAmount)
            RETURN -3; 

        UPDATE Payments
        SET PaymentDate = @PaymentDate,
            AmountPaid = @AmountPaid,
            PaymentMethod = @PaymentMethod,
            Notes = @Notes
        WHERE PaymentId = @PaymentId;

        DECLARE @NewTotalPaid DECIMAL(10,2) = @TotalPaidOther + @AmountPaid;
        DECLARE @NewStatus NVARCHAR(20) = CASE
            WHEN @NewTotalPaid = @InvoiceAmount THEN 'Paid'
            ELSE 'PartiallyPaid'
        END;

        UPDATE Invoices
        SET Status = @NewStatus
        WHERE InvoiceId = @InvoiceId;

        RETURN 1;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSection]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSection]
    @SectionId INT,
    @ClassId INT,
    @SectionName NVARCHAR(20),
    @HomeroomTeacherId INT,
    @Capacity INT
AS
BEGIN
    IF NOT EXISTS(SELECT 1 FROM Sections WHERE SectionId = @SectionId)
    BEGIN
        SELECT -2 AS Result; -- القسم غير موجود
        RETURN;
    END

    IF NOT EXISTS(SELECT 1 FROM Classes WHERE ClassId = @ClassId)
    BEGIN
        SELECT -3 AS Result;
        RETURN;
    END

    IF NOT EXISTS(SELECT 1 FROM Teachers WHERE TeacherId = @HomeroomTeacherId)
    BEGIN
        SELECT -4 AS Result; 
        RETURN;
    END

    IF EXISTS(SELECT 1 FROM Sections WHERE ClassId = @ClassId AND SectionName = @SectionName AND SectionId <> @SectionId)
    BEGIN
        SELECT -5 AS Result;
        RETURN;
    END

    UPDATE Sections
    SET ClassId = @ClassId,
        SectionName = @SectionName,
        HomeroomTeacherId = @HomeroomTeacherId,
        Capacity = @Capacity
    WHERE SectionId = @SectionId;

    SELECT 1 AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudent]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateStudent]
    @StudentId INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @GuardianName NVARCHAR(100),
    @GuardianPhone NVARCHAR(20),
    @SectionId INT
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Students WHERE StudentId = @StudentId)
    BEGIN
        SELECT -3 AS result;
        RETURN;
    END

	DECLARE @UserId INT;
        SELECT @UserId = UserId FROM Students WHERE StudentId = @StudentId;

    IF EXISTS (SELECT 1 FROM Users               
               WHERE Users.Email = @Email AND Users.UserId<> @UserId )
    BEGIN
        SELECT -2 AS result;
        RETURN;
    END

  IF NOT EXISTS (SELECT 1 FROM Sections WHERE SectionId = @SectionId)
    BEGIN
        SELECT -4 AS result;
        RETURN;
    END

        BEGIN TRANSACTION;
		  BEGIN TRY
        

        UPDATE Users
        SET FullName = @FullName,
            Email = @Email
        WHERE UserId = @UserId;

        UPDATE Students
        SET DateOfBirth = @DateOfBirth,
            Gender = @Gender,
            GuardianName = @GuardianName,
            GuardianPhone = @GuardianPhone
        WHERE StudentId = @StudentId;

        UPDATE Enrollments
        SET SectionId = @SectionId
        WHERE StudentId = @StudentId;

        COMMIT TRANSACTION;

        SELECT 1 AS result;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT -1 AS result;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSubject]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSubject]
    @SubjectId INT,
    @SubjectName NVARCHAR(100),
    @SubjectCode NVARCHAR(50),
    @CreditHours INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectId = @SubjectId)
    BEGIN
        SELECT -3 AS Result; 
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Subjects WHERE Code = @SubjectCode AND SubjectId <> @SubjectId AND IsActive = 1)
    BEGIN
        SELECT -2 AS Result; 
        RETURN;
    END

        UPDATE Subjects
        SET Name = @SubjectName,
            Code = @SubjectCode,
            CreditHours = @CreditHours
        WHERE SubjectId = @SubjectId;

        SELECT 1 AS Result; 
  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTeacher]    Script Date: 10/26/2025 4:03:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_UpdateTeacher]
     @TeacherId INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @Specialization NVARCHAR(100),
    @HireDate DATE
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Teachers WHERE TeacherId = @TeacherId)
    BEGIN
        SELECT -3 AS result;
        RETURN;
    END

	DECLARE @UserId INT;
        SELECT @UserId = UserId FROM Teachers WHERE TeacherId = @TeacherId;

    IF EXISTS (SELECT 1 FROM Users              
               WHERE Users.Email = @Email AND Users.UserId<> @UserId )
    BEGIN
        SELECT -2 AS result;
        RETURN;
    END



        BEGIN TRANSACTION;
		  BEGIN TRY
        

        UPDATE Users
        SET FullName = @FullName,
            Email = @Email
        WHERE UserId = @UserId;

      

         UPDATE Teachers
    SET 
        Specialization = @Specialization,
        HireDate = @HireDate
    WHERE TeacherId = @TeacherId;

        COMMIT TRANSACTION;

        SELECT 1 AS result;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT -1 AS result;
    END CATCH
END;
GO
USE [master]
GO
